
/** ----------------------------- FORM STYLING  ----------------------------- **/

.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.form-submit /* The submit button */ {
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}

/** ----------------------------- SEARCH  ------------------------------ **/

#navigation #search-box {
  margin: 4px 5px 0 0;
  float: right;
}

/* Hide label that says "Search this site:" */
#edit-search-theme-form-1-wrapper label {
  display: none;
}

#navigation #search .form-submit {
  padding: 0px 2px 1px 2px;
  font-size: 13px;
  font-weight: bold;
}

/** ----------------------------- LOGIN --------------------------------- **/

#user-login-form {
  text-align: left; 
}


/** ----------------------------- OPEN ID ------------------------------- **/

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}


/** ----------------------------- DRUPAL ADMIN TABLES -------------------- **/

form tbody {
    	border-top: 1px solid #ccc;
}

form th {
    	text-align: left;
    	padding-right: 1em;
    	border-bottom: 3px solid #ccc;
}

form tbody th {
    	border-bottom: 1px solid #ccc;
}

form thead th {
    	text-align: left;
    	padding-right: 1em;
    	border-bottom: 3px solid #ccc;
}
