
/**
 * @file
 * Red and gray custom color scheme
 */

/** ------------------------- HTML ELEMENTS ------------------------------- **/

body {
  background-image: url(images/red/body_bg.gif);
  color: #323232;
}

a {
  color: #9E2323;
}

#page {
  border: 1px solid #888;
  background-color: #fff;
}

/** ------------------------------ HEADER --------------------------------- **/

#header .section {
  background: #c1c1c1 url(images/red/header_bg.gif) top left repeat-x;
}

#site-name a:link,
#site-name a:visited {
  color: #971B1B;
}

#site-slogan   {
  color: #181818;
}

#secondary,
#secondary a {
  color: #181818;
}

/* Suckerfish menus (primary links in top nav) */

#navigation {
  background: #832822 url(images/red/primary_bg.gif) top left repeat-x;
  border-top: 1px solid #7C2B2D;
  border-bottom: 1px solid #5F2324;
}

#suckerfishmenu a {
  color: #fff;
}

#suckerfishmenu a.active,
#suckerfishmenu a:hover {
  color: #222;
  text-decoration: none;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
  background-color: #444;
  border: 1px solid #888;
  border-top: 0px;
}

#suckerfishmenu ul.menu li ul a:hover {
  background-color: #222;
}

#suckerfishmenu ul.menu ul {
  border-top: 1px solid #888;
}

/** ----------------------------- FOOTER ---------------------------------- **/

#footer {
  background-color: #8F1E1E;
  border-top: 1px solid #7C2B2D;
  color: #fff;
}

/** ------------------------------- NODES --------------------------------- **/

.node-links ul.links li a {
  color: #181818;
}

/** ----------------------------- BLOCKS ---------------------------------- **/

.region-sidebar-first .block h2.title {
  background: #832822 url(images/red/primary_bg.gif) top left repeat-x;
  border: 1px solid #7C2B2D;
}

.region-sidebar-first .block .content {
  background-color: #EDEDED;
  border: 1px solid #E0E0E0;
}

/* Clear styling to remove header on center and right blocks */

.region-sidebar-second .block .content,
#content .block .content {
  border: none;
  padding: 0;
  background: none;
}

.region-sidebar-second .block h2.title,
#content .block h2.title {
  padding: 0 0 10px 0;
  color: #323232;
  background: none;
  border: none;
}

.region-sidebar-second .block,
#mission,
#content .block {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  border: 1px solid #D6D6D6;
  background: #d1d1d1 url(images/red/block1.gif) top left repeat-x;
}

#mission {
  font-weight: bold;
}

/** ------------------------------- POLLS -------------------------------- **/

.poll .bar {
  background-color: #111;
}
.poll .bar .foreground {
  background-color: #8F1E1E;
}

/** ------------------------------- BUTTONS -------------------------------- **/

.form-submit {
  padding: 2px 7px 3px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-top: 1px solid #919090;
  border-right: 1px solid #1E1E1E;
  border-bottom: 1px solid #1E1E1E;
  border-left: 1px solid #919090;
  color: #fff;
  background: #2c2c2c url(images/red/search.gif) top left repeat-x;
  font-weight: bold;
}



