
/**
 * @file
 * Teal and orange custom color scheme
 */

/** ------------------------- HTML ELEMENTS ------------------------------- **/

body {
  background-image: url(images/teal/body_bg.gif);
  color: #323232;
}

a {
  color: #006891;
}

#page {
  border: 1px solid #6E94A9;
  background-color: #fff;
}

h1, h2 {
  color: #444;
}

/** ------------------------------ HEADER --------------------------------- **/

#header .section {
  background: #1b4761 url(images/teal/header_bg.gif) top left repeat-x;
}

#site-name a:link,
#site-name a:visited {
  color: #fff;
}

#site-slogan   {
  color: #ED763B;
}

#secondary,
#secondary a {
  color: #ED763B;
}

/* Suckerfish menus (primary links in top nav) */

#navigation {
  background: #1f4961 url(images/teal/primary_bg.gif) top left repeat-x;
  border-top: 1px solid #608EA4;
  border-bottom: 3px solid #ED773C;
}

#suckerfishmenu a {
  color: #fff;
}

#suckerfishmenu a.active,
#suckerfishmenu a:hover {
  color: #ED7941;
  text-decoration: none;
}

#suckerfishmenu ul.menu li ul a {
  color: #fff;
  background-color: #43738E;
  border: 1px solid #7BA0B1;
  border-top: 0px;
}

#suckerfishmenu ul.menu li ul a:hover {
  background-color: #1C4963;
}

#suckerfishmenu ul.menu ul {
  border-top: 1px solid #7BA0B1;
}



/** ----------------------------- FOOTER ---------------------------------- **/

#footer {
  background-color: #1D526D;
  border-top: 1px solid #204E66;
  color: #fff;
}

/** ------------------------------- NODES --------------------------------- **/

.node-links ul.links li a,
.node .terms ul.links.inline li a {
  color: #EA601C;
}

/** ----------------------------- BLOCKS ---------------------------------- **/

.region-sidebar-first .block h2.title {
  background: #204a63 url(images/teal/primary_bg.gif) top left repeat-x;
  border: 1px solid #204E66;
}

.region-sidebar-first .block .content {
  background-color: #EDEDED;
  border: 1px solid #E0E0E0;
}

/* Clear styling to remove header on center and right blocks */

.region-sidebar-second .block .content,
#content .block .content {

  border: none;
  padding: 0;
  background: none;
}

.region-sidebar-second .block h2.title,
#content .block h2.title {
  padding: 0 0 10px 0;
  color: #323232;
  background: none;
  border: none;
}

.region-sidebar-second .block {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  border: 1px solid #98B7C9;
  background: #AEC4D0 url(images/teal/bl_block.gif) top left repeat-x;
}

.region-sidebar-second .block-2,
.region-sidebar-second .block-4,
.region-sidebar-second .block-6,
.region-sidebar-second .block-8 {
  border: 1px solid #EAA074;
  background: #f8a96e url(images/teal/or_block.gif) top left repeat-x;
}

/* Mission statement and center blocks */

#mission,
#content .block {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  border: 1px solid #D6D6D6;
  background: #d1d1d1 url(images/red/block1.gif) top left repeat-x;
}

#mission {
  font-weight: bold;
}

/** -------------------- CUSTOM BULLETS IN BLOCKS ------------------------- **/

.block ul li {
  list-style-type: circle;
  list-style-image: url(images/teal/menu-leaf2.png);
}

.block ul li.collapsed {
  list-style-image: url(images/teal/menu-collapsed-rtl.png);
}

.block ul li.expanded {
  list-style-image: url(images/teal/menu-expanded.png);
}

.block ul li.collapsed {
  list-style-image: url(images/teal/menu-collapsed.png); /* LTR */
}

.block ul li.leaf {
  list-style-image: url(images/teal/menu-leaf2.png);
}

/** ------------------------------ TABLES ---------------------------------- **/

thead th {
  background: #B7CCD7;
  border: 1px solid #A3BCC8;
}

tr.odd td, tr.even td { border:1px solid #cfdee3;  }

tr.odd td { background:#FFFFFF; }

tr.even td { background:#EBF1F3; }

/** ------------------------------- POLLS -------------------------------- **/

.poll .bar {
  background-color: #346282;
}
.poll .bar .foreground {
  background-color: #DF6036;
}

/** ------------------------------- BUTTONS -------------------------------- **/

.form-submit {
  padding: 2px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-top: 1px solid #F7C3A9;
  border-left: 1px solid #F7C3A9;
  border-right: 1px solid #E47235;
  border-bottom: 1px solid #E47235;
  color: #232323;
  font-weight: bold;
  background: #E24A00 url(images/teal/search.gif) top left repeat-x;
}






